.body1 {
  font-family: "Libre Franklin", sans-serif;
}
.top-header {
  text-align: center;
  padding-bottom: 10px;
}
.title {
  text-align: center;
}
.descrip {
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
}
.link {
  text-align: center;
  font-style: italic;
  font-size: small;
}
.pic {
  text-align: center;
}

.blog1 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.blog2 {
  padding-bottom: 40px;
}
.blog3 {
  padding-bottom: 50px;
}
