body {
  background-color: #5b84b1ff;
}
.whole {
}
.body1 {
  font-family: "Libre Franklin", sans-serif;
}
.top-header {
  text-align: center;
  padding-bottom: 10px;
}
.title {
}
.descrip {
}
.link {
  font-style: italic;
  font-size: small;
}
.blog {
  padding-bottom: 40px;
  width: 600px;
  border-style: double;
  border-color: brown;
  margin-top: 50px;
  background-color: #fc766aff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.pics2 {
  background-image: url(pics/csgo.jpg);
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
.pics {
  background-image: url(pics/fornite.jpg.jpg);
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
.pics3 {
  background-image: url(pics/overwatch.jpg);
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
